<div class="container mt-5">
    <h1>Category Details</h1>
    <hr>
    <div class="row">
        <div class="col-mg">
            <dl class="row">
                <dt class = "col-sm-2">
                    CategoryId : 
                </dt>
                <dd class = "col-sm-10">
                    {{category.categoryId}}
                </dd>
                <dt class = "col-sm-2">
                    CategoryName
                </dt>
                <dd class = "col-sm-10">
                    {{category.categoryName}}
                </dd>
            </dl>
        </div>
        <div>
            <a routerLink="" class="btn btn-primary me-3">Edit</a>
            <a routerLink="" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>